.container {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  box-shadow:  2px 0px 5px rgb(0, 0, 0);
  background: radial-gradient(circle at 74.2% 50.9%, rgb(14, 72, 222) 5.2%, rgb(87, 167, 224) 75.3%);
}
.logo-link{
  text-decoration: none;
  color:white;
  cursor: pointer;
  font-size: 25px;
}